@model CommentedPostsFront.ViewModels.PostViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>@(Model.Title)</h2>

<hr/>

<p>
	@(Model.Content)
</p>

<p>
	<small>Posted by <b>@(Model.Author)</b> at <b>@(Model.DateTime)</b></small>
</p>

<div align="right">
	<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>

<hr/>

<h4>Comments</h4>

<p>
	<a asp-action="Add" asp-controller="Comments" asp-route-postId="@Model.Id">Create New</a>
</p>

	@foreach (var item in Model.Comments) {
		@Html.Partial("~/Views/Comments/View.cshtml", item);
	}

